.btn-group button {
    /* background-color: #4CAF50; Green background */
    /*border: 1px solid green;  Green border */
    /*color: white;  White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the butt/*ons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group :not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    /*background-color: #3e8e41;*/
    /*background-color: #eeaaee;*/
}


.ellip {
    font-size: 20px;
    /*text-decoration: none;*/
}

.extension-sup {
    width: 75px;
    background-color: #eeaaee;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    margin: 5px;
}

.parent-flex {
    display: flex;
    flex-wrap: wrap;
}

.child-flex {
    width: 17rem;
    /*background: red;*/
    flex: 1;
    min-width: 12rem;
    max-width: 17.5rem;
    /*height: fit-content;*/

    margin: 0.5rem;
    padding: 0.5rem;
    /*border: 5px solid white;*/
}

.bold {
    font-weight: bold;
}

.size {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
}
.size:hover {
    background: #f0f0f0; /* Цвет фона */
    white-space: normal; /* Обычный перенос текста */
}
